<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<select id="selectPage" parameterType="map" resultType="model.dto.BoardDTO">
		SELECT *
		  FROM (SELECT ROWNUM AS N
		   			 , id
		   			 , btype
		   			 , title
		   			 , writer
		   			 , createDate
		   			 , viewCnt
		   		  FROM (SELECT * FROM BOARD_T ORDER BY btype DESC, id DESC))
		 WHERE N BETWEEN #{start} AND #{end}
	</select>
	<select id="selectTotalRowCount" resultType="int">
		SELECT COUNT(*) FROM BOARD_T
	</select>
	<update id="update" parameterType="model.dto.BoardDTO">
		UPDATE BOARD_T
		   SET viewCnt = viewCnt + 1
		 WHERE id = #{id}
	</update>
	<select id="selectDetail" parameterType="model.dto.BoardDTO" resultType="model.dto.BoardDTO">
		SELECT * FROM BOARD_T WHERE id = #{id}
	</select>
	<insert id="insertBoard" parameterType="model.dto.BoardDTO">
		INSERT INTO BOARD_T 
				VALUES((SELECT NVL(MAX(id), 0) + 1 FROM BOARD_T)
					  , #{btype}, #{title}, #{context}, #{writer}
					  , DEFAULT, DEFAULT, DEFAULT)
	</insert>
	<update id="updateBoard" parameterType="model.dto.BoardDTO">
		UPDATE BOARD_T
		   SET btype = #{btype}
		     , title = #{title}
		     , context = #{context}
		     , updateDate = DEFAULT
		 WHERE writer = #{writer}
		   AND id = #{id}
	</update>
	<select id="selectId" parameterType="model.dto.BoardDTO" resultType="model.dto.BoardDTO">
		SELECT *
		  FROM BOARD_T
		 WHERE id = #{id}
		   AND writer = #{writer}
	</select>
	<delete id="delete" parameterType="model.dto.BoardDTO">
		DELETE 
		  FROM BOARD_T
		 WHERE id = #{id}
		   AND writer = #{writer}
	</delete>
</mapper>
