<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commentMapper">
	<select id="selectCmtPage" parameterType="map" resultType="model.dto.CommentDTO">
		SELECT *
		  FROM (SELECT ROWNUM N, tbl_1.*
		          FROM (SELECT id, bnum, writer, context
		                     , createDate, cLevel, cRef, cReply_SEQ
		                  FROM COMMENT_T
		                 WHERE bnum = #{bnum}
		                 ORDER BY cRef DESC, cReply_SEQ ASC) tbl_1
				)tbl_2
		 WHERE N BETWEEN #{start} AND #{end}
	</select>
	<select id="selectTotalRowCount" resultType="int">
		SELECT COUNT(*) FROM COMMENT_T
	</select>
	<insert id="insert" parameterType="model.dto.CommentDTO">
		INSERT INTO COMMENT_T
				VALUES((SELECT NVL(MAX(id), 0)+1 FROM COMMENT_T)
				      , #{bnum}, #{writer}, #{context}, DEFAULT
				      , DEFAULT
				      , (SELECT NVL(MAX(id), 0)+1 FROM COMMENT_T)
				      , DEFAULT)
	</insert>
	<delete id="delete" parameterType="model.dto.CommentDTO">
		DELETE
		  FROM COMMENT_T
		 WHERE id = #{id}
		   AND writer = #{writer}
	</delete>
</mapper>
